.nombre img{
    width: 25%;
    height: 25%;
    display: flex; 
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    
}
.nombre{ 
    border: 2px solid rgba(255, 255, 0, 0.61);
    text-align: center;
    padding: 10px 10px 10px 10px ;
    vertical-align: middle;
}
.Oficio
{
    font-family: 'Gentium Book Plus', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.clientessatisfechos{
    display: flex;
    border: 1px solid gray ;
    box-sizing: border-box;
    margin: 10%;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    font-display:calc(100% / 3)

}

.cliente img{
    width: calc(100% / 3);
    height: auto;
    
}
